<form onsubmit={{action "createRestaurant"}}>
  <div>
    <label for="name">Name {{nameErr}}</label>
    {{input type="text" id="name" value=name}}
  </div>
  <div>
    <label for="price">price {{priceErr}}</label>
    {{input type="text" id="price" value=price}}
  </div>
  <div>
    <label for="type">Type {{typeErr}}</label>
    {{input type="text" id="type" value=type}}
  </div>

  <AsyncButton
  name="saveButton"
  data-test="restaurant-submit"
  @defaultText="Save"
  @onClick={{action "createRestaurant"}}/>
</form>
