<ul>
  {{#each model as |restaurant|}}
    <li data-test="restaurant">
        name: {{restaurant.name}}
        <br/>
        price: {{restaurant.price}}
        type: {{restaurant.type}}
    </li>
    <button data-test="restaurant-delete" type="button" onclick={{action "deleteRestaurant" restaurant}}>Delete</button>
    <button data-test="restaurant-edit" type="button" onclick={{action "editRestaurantPage"}}>
      Edit
    </button>
  {{/each}}
</ul>

{{outlet}}
