<ul>
  {{#each model as |restaurant|}}
    <li data-test="restaurant">
        name: {{restaurant.name}}
        <br/>
        <DisplayPrice
          @price={{restaurant.price}}
        />
        type: {{restaurant.type}}
    </li>
    <AsyncButton
    data-test="restaurant-delete"
    name="saveButton"
    @defaultText="Delete"
    @onClick={{action "deleteRestaurant" restaurant}}/>

    {{#link-to "edit" restaurant.id}}
      Edit
    {{/link-to}}

  {{/each}}
</ul>

{{outlet}}
